img{ max-width: 100%; height: auto; border-radius: 10px 10px 0 0;display: block; }
* { margin: 0; padding: 0; box-sizing: border-box; font-family: 'Poppins', sans-serif;}
body{ background-color: black; color: white;}
H2{text-align: center; margin-top: 10px;margin-bottom:10px; font-family: Georgia, 'Times New Roman', Times, serif; }

.CATEGORIES{
     display: grid;
     grid-template-columns: repeat(2,1fr);
    gap: 20px;
    padding: 10px;
    align-items: stretch;
}
@media (min-width:600px) {
    .CATEGORIES{
        grid-template-columns: repeat(3,1fr);
    
    }
}
@media (min-width:1025px){
    .CATEGORIES{
        grid-template-columns: repeat(auto-fit, minmax (150px,1fr));}
}
.category-card{
    display: flex;
    height: 100%;
    flex-direction: column;
    border-radius: 10px;
    transition: transform 0.3s, box-shadow 0.3s;
}

.category-card:hover{
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
.Names{margin-top: 8px;
text-align: center;
font-weight: bold;
 font-family: Georgia, Times, 'Times New Roman', serif;}

.image-frame{border: 1px solid darkorange; 
    border-radius: 10px;
     padding: 5px; 
     height: auto;
      width: 100%;
    aspect-ratio: calc(4/5);}
      

#menu{display:none ;
position: absolute;
top: 60px; 
right: 20px;
background-color: black;
flex-direction: column;
border: 1px solid darkorange;}

#menu.show{display:flex;}

#menu a{padding: 12px 18px;
text-decoration: none;
border-bottom: 1px solid darkorange; 
color: white;
}

.image-frame img{width: 100%;
height: 100%;
object-fit: cover;
border-radius: 10px;
display: block;
cursor: zoom-in;}

#menu a:hover{background-color: darkorange; }

#menu-icon{ font-size: 30px; 
cursor: pointer;
display: inline-block;
padding: 5px;}

h3{text-align: center;
margin: 15px;
margin-top: 15%;
font-family:Georgia, 'Times New Roman', Times, serif;
border: 1px solid darkorange; 
border-bottom: 1px solid darkorange;;
border-radius: 80px;
padding: 10px;}

p{margin-bottom: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 1.5;
}

h2.store{margin-bottom: 5%;
    margin-top: 10%;
}
.read-more{border: 1px solid darkorange;
padding: 5px;
color: white;
display: inline-block;
border-radius: 10px;
margin: 5px;
text-decoration: none;}

hr{margin-top: 50px;
}

h2.Guidlines{margin-top: 20px;}

.icon{width: 50px;
height: auto;}

.container{display: flex;
justify-content: center;
margin-top: 2%;}

.space{margin:10px;
text-align: justify;}

.color-palette {
    display: flex;
    gap: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    justify-content: center;
    align-items: center;
    min-height: 40px;
}

.swatch {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid #ccc;
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.2s;
}

.swatch:hover{
    transform: scale(1.3);
    border: 2px solid darkorange;
    transition: transform 0.2s, border 0.2;
}

h2.breasted{margin-bottom:20px ;}


.arrow{
    all: unset;
    display: flex;
    background-color: transparent;
    border: 1px solid darkorange;
    color:white;
    font-size: 40px;
    cursor: pointer;
    border-radius: 5px;
    width: 30px;
    height: 30px;
    justify-content: center;
    align-items: center;
    line-height: 1;
    
    
}

.arrow:hover{
    background-color: gray;
}

#zoom-overlay {
    position: fixed;
    top:0; left:0;
    width:100%; height:100%;
    background: rgba(0,0,0,0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    cursor: zoom-out;
}
#zoom-overlay img {
    max-width: 90%;
    max-height: 90%;
    border-radius: 10px;
}
#zoom-overlay.hidden { display: none; }



.reveal {
  opacity: 0;
  transform: translateX(-100px); /* slightly smaller distance */
  transition: opacity 5s cubic-bezier(0.5, 0, 0.2, 0.1),
              transform 5s cubic-bezier(0.5, 0, 02, 0.1);
  will-change: opacity, transform;
}

.reveal.active {
  opacity: 1;
  transform: translateX(0);
}


.category-cards{
    display: flex;
    height: 100%;
    flex-direction: column;
    border-radius: 10px;
    transition: transform 0.3s, box-shadow 0.3s;
}
.main-image{ touch-action: none;}


